/*
    Copyright (c) 2005, Rutgers, The State University of New Jersey
    This file is part of ruQueue.

    ruQueue is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    ruQueue is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with ruQueue; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
*/

BODY {		
scrollbar-base-color:#003399;	
scrollbar-arrow-color:#ffcc33;	
}
TD {	
FONT: 10pt Arial,Geneva,Helvetica;
}
TABLE.schedule {
BORDER: 1px solid #000000;
}
TABLE.schedule_week {
BORDER-TOP: 1px solid #000000;
BORDER-LEFT: 1px solid #000000;
BORDER-BOTTOM: 1px solid #000000;
}
TH.schedule_header {
BORDER-RIGHT: 1px solid #000000;
}
TH.schedule_week_no_top {
BORDER-RIGHT: 1px solid #000000;
BORDER-BOTTOM: 1px solid #000000;
}
TH.schedule_week {
BORDER-RIGHT: 1px solid #000000;
BORDER-BOTTOM: 1px solid #000000;
BORDER-TOP: 1px solid #000000;
}
TD.schedule_week {
BORDER-RIGHT: 1px solid #000000;
BORDER-BOTTOM: 1px solid #000000;
}
TD.schedule_week_time {
BORDER-BOTTOM: 1px solid #000000;
BORDER-LEFT: 1px solid #000000;
BORDER-RIGHT: 1px solid #000000;
}
TH.schedule {
BORDER-BOTTOM: 1px solid #000000;
}
TD.schedule_time {
FONT: 10PT Arial,Geneva,Helvetica;
BORDER-BOTTOM: 1px solid #000000;
}
TD.appointment_top {
FONT: 10PT Arial,Geneva,Helvetica;
BORDER-TOP: 2px solid #000000;
BORDER-LEFT: 2px solid #000000;
BORDER-RIGHT: 3px solid #000000;
}
TD.appointment_mid {
FONT: 10PT Arial,Geneva,Helvetica;
BORDER-LEFT: 2px solid #000000;
BORDER-RIGHT: 3px solid #000000;
}
TD.appointment_bottom {
FONT: 10PT Arial,Geneva,Helvetica;
BORDER-BOTTOM: 2px solid #000000;
BORDER-LEFT: 2px solid #000000;
BORDER-RIGHT: 3px solid #000000;
}
A {	
FONT: 10pt Arial, Geneva, Helvetica; 	
COLOR: white; 	
TEXT-DECORATION: none;	
}
A:link 	{	
FONT: 10pt Arial, Geneva, Helvetica; 	
COLOR: white; 	
TEXT-DECORATION: none;	
}
A:hover {	
FONT: 10pt Arial, Geneva, Helvetica; 	
COLOR: #ffcc33; 	
TEXT-DECORATION: none;	
}
A.main 	{	
FONT: 10pt Arial, Geneva, Helvetica; 	
COLOR: black; 	
TEXT-DECORATION: underline;	
}
A.main:link {	
FONT: 10pt Arial, Geneva, Helvetica; 	
COLOR: black; 	
TEXT-DECORATION: underline;	
}
a.main:hover {	
FONT: 10pt Arial, Geneva, Helvetica; 	
COLOR: #CC0000; 	
TEXT-DECORATION: underline;	
}
DL {	
FONT: Arial, Helvetica, sans-serif;	
}
.yellow {	
FONT-WEIGHT: bold; 	
FONT-SIZE: 10pt; 	
COLOR: #ffcc33;	}
.in {	
MARGIN-LEFT: 10px;	
}
.SMALL	{	
FONT-SIZE:10px;	
}
SPAN {	
FONT: 10pt Arial, Geneva, Helvetica; 	
COLOR: white; 	
TEXT-DECORATION: none;	
}

#trigger {
 position:  absolute;
 width:  358px;
}
#trig_campus_div {
 left: 0;
 float: left; 
 width: 35%; 
}
#trig_building_div {
 right: 0;
 float: right; 
 width: 65%;
}
