/* user.css                                             */
/* Time-stamp: <2008-01-18 20:19:18 fultonj>            */
/* ---------------------------------------------------- */
/* 
Basic CSS for layout modify to make it look more like your 
organization's layout.  
                                                        */
/* ---------------------------------------------------- */
/* Basic foundation                                     */ 
/* ---------------------------------------------------- */

html {
  min-width: 600px;
  background: #bb933b;  
}

body, div, td, th, h2, h3, h4 { 
  font-family: verdana, sans-serif;
  font-size: small;
  color: #000;

  margin:  20px 0px; 
  padding:0px;
}  

hr {
  text-align:  center;
  color: #000;
  background-color: #000;
  height: 1px;
  border: 1px;
  width: 100%;
}

a { 
  color: #00f; 
}

a:hover { 
  text-decoration: none;
}

a:active { 
  color: #000; 
}

p { 

}

h1 {
  font-family: trebuchet ms,arial,verdana,sans-serif;
  font-weight: bold;
  font-size: 140%;
  color: #000;
  padding-bottom: 2px;
  margin: 0;
}

/* ---------------------------------------------------- */
/* First element, style for <div id="main">             */
/* Everything under the tabs                            */
/* ---------------------------------------------------- */

#main {
  text-align: left;
  border: 1px solid #000;  /* border around main text */
  background: #fff; 
  clear: both;  /* keeps sub tabs on next line, in Moz */
  width: 98%;
  margin-top: -1px;  /* attachs tabs to body */
  color: #000;

  width:500px;
  margin:0px auto;
  text-align:left;
  padding:15px;

}

/* ---------------------------------------------------- */
/* Second element, style for <div id="bodyarea">        */
/* Child of main                                        */
/* This is the primary text body of the page            */
/* ---------------------------------------------------- */

#bodyarea {
  min-height: 300px;  /* fill in border for few lines */
}

/* ---------------------------------------------------- */
/* Form, style for <div id="form">                      */
/* Child of main                                        */
/* ---------------------------------------------------- */

#form {
  padding: 10px;
  background: #eee; 
  border-color: #000;
  border: 1px;
} 

/* ---------------------------------------------------- */
/* Error, style for <div id="error">                    */
/* Child of main                                        */
/* ---------------------------------------------------- */

#error {
  padding: 10px;
  background: #f00; 
} 

/* ---------------------------------------------------- */
/* Message, style for <div id="message">                    */
/* Child of main                                        */
/* ---------------------------------------------------- */

#message {
  padding: 20px;      /* gives space inside of border */
  background: #0f0; 
} 
